<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag :domready %>
  <script>
    window.t = function() { return (new Date).getTime(); }
    window.css_timings = {start: t() }
  </script>
  
  <script>
    DomReady.ready(function() {
      window.css_timings.body_end = t()
      window.top.report_timings(window.css_timings);
    });
  </script>
  
  <%= stylesheet_link_tag params[:action] %>
</head>
<body>
  <script>window.css_timings.body_start = t()</script>
  
  <% 10000.times do |i|%>
    <div class="div-<%= i+1 %>">A div with some basic text inside</div>
  <% end %>
  <%= yield %>
</body>
</html>
